<% if params[:tag] %>
  <h1>Questions
    <small>
      with Tag: <span class="label label-default"><%= params[:tag] %></span>
    </small>
  </h1>
<% else %>
  <h1>Questions</h1>
<% end %>


<ul class="questions">
  <% @questions.each do |question| %>
  <li>
      <%= question.title %>
      <%= truncate(markdown_strip(question.body)) %>
      <div class='question-links'>
      <%= link_to 'Show', question_path(question) %>
      <%= link_to 'Edit', edit_question_path(question) %>
      <%= link_to 'Destroy', question_path(question),
            method: :delete,
            data: { confirm: 'Are you sure?'} %>
          </div>
  </li>
  <% end %>
</ul>
<%= paginate @questions %>
<%= link_to_next_page @questions, 'Next Page' %>
<%= page_entries_info @questions %>
