<h1>Questions</h1>

<%= link_to 'Add', new_question_path %>
<%= link_to 'Sign Up', new_users_path %>

<table>
  <tr>
    <th>Question</th>
    <th>Description</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.body %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question),
            method: :delete,
            data: { confirm: 'Are you sure?'} %></td>
    </tr>

  <% end %>
</table>
<%= paginate @questions %>
<%= link_to_next_page @questions, 'Next Page' %>
<%= page_entries_info @questions %>
