<% if params[:tag] %>
  <h1>Questions
    <small>
      with Tag: <span class="label label-default"><%= params[:tag] %></span>
    </small>
  </h1>
<% else %>
  <h1>Questions</h1>
<% end %>

<table class="table table-hover">
  <tr>
    <th>Question</th>
    <th>Description</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= truncate(markdown_strip(question.body)) %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question),
            method: :delete,
            data: { confirm: 'Are you sure?'} %></td>
    </tr>

  <% end %>
</table>
<%= paginate @questions %>
<%= link_to_next_page @questions, 'Next Page' %>
<%= page_entries_info @questions %>
